<!-- -->
<launch>
  <!-- Parameters -->
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='role_name' default='ego_vehicle'/>
  <arg name="train_agent" default='False' />
  <arg name="train_agent_episodes" default='100' />
  <arg name='data_file' default='$(find scenario_node)/data/standard.json'/>
  <arg name='scenario_id' default='04'/>
  <arg name='route_id' default='00'/>
  <arg name='method' default=''/>
  <arg name='risk_level' default='0'/>

<!--   the evaluation part -->
<!--   e.g. rule-based scenario using scenario_runner -->
  <include file="$(find scenario_node)/launch/scenario_node.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='role_name' value='$(arg role_name)' />
    <arg name="data_file" value="$(arg data_file)" />
    <arg name="train_agent" value="$(arg train_agent)" />
    <arg name="train_agent_episodes" value="$(arg train_agent_episodes)" />
    <arg name="scenario_id" value="$(arg scenario_id)" />
    <arg name="route_id" value="$(arg route_id)" />
    <arg name="method" value="$(arg method)" />
    <arg name="risk_level" value="$(arg risk_level)" />
  </include>


</launch>
